USE [SportShop]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Logo] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AttributeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ImageURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[Reply] [nvarchar](max) NULL,
	[RepliedBy] [int] NULL,
	[RepliedAt] [datetime] NULL,
	[Title] [nvarchar](max) NULL,
	[Phone] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ShippingName] [nvarchar](255) NOT NULL,
	[ShippingAddress] [nvarchar](255) NOT NULL,
	[ShippingPhone] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[AttributeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[BrandID] [int] NULL,
	[TotalLikes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttribute]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttribute](
	[AttributeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Size] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Stock] [int] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[ImageURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[RoleID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 25/09/2025 3:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandID], [Name], [Description], [Logo], [CreatedAt]) VALUES (1, N'Nike', N'Just Do It', N'nike-logo.png', CAST(N'2025-08-22T23:33:34.193' AS DateTime))
INSERT [dbo].[Brand] ([BrandID], [Name], [Description], [Logo], [CreatedAt]) VALUES (2, N'Adidas', N'Impossible is Nothing', N'adidas-logo.png', CAST(N'2025-08-22T23:33:34.193' AS DateTime))
INSERT [dbo].[Brand] ([BrandID], [Name], [Description], [Logo], [CreatedAt]) VALUES (3, N'Puma', N'Forever Faster', N'puma-logo.png', CAST(N'2025-08-22T23:33:34.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [UserID], [CreatedAt], [ProductID], [Quantity], [AttributeID]) VALUES (1, 2, CAST(N'2025-04-01T00:00:00.000' AS DateTime), 1, 1, 2)
INSERT [dbo].[Cart] ([CartID], [UserID], [CreatedAt], [ProductID], [Quantity], [AttributeID]) VALUES (2, 2, CAST(N'2025-04-01T00:00:00.000' AS DateTime), 3, 2, 18)
INSERT [dbo].[Cart] ([CartID], [UserID], [CreatedAt], [ProductID], [Quantity], [AttributeID]) VALUES (3, 3, CAST(N'2025-04-02T00:00:00.000' AS DateTime), 7, 1, 40)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [ImageURL]) VALUES (1, N'Giày Thể Thao', N'Các loại giày chuyên dụng cho thể thao và chạy bộ', N'giaythethao.png')
INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [ImageURL]) VALUES (2, N'Quần Áo Thể Thao', N'Trang phục tập luyện, áo thun, quần short, áo khoác thể thao', N'quanaothethao.png')
INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [ImageURL]) VALUES (3, N'Dụng Cụ Tập Luyện', N'Thiết bị và phụ kiện tập luyện thể thao', N'dungcutapluyen.png')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactID], [UserID], [Name], [Email], [Message], [Status], [CreatedAt], [Reply], [RepliedBy], [RepliedAt], [Title], [Phone]) VALUES (1, 2, N'John Doe', N'john@example.com', N'Làm thế nào để đổi trả sản phẩm?', N'Replied', CAST(N'2025-04-05T00:00:00.000' AS DateTime), N'Bạn có thể đổi trả trong vòng 30 ngày kể từ ngày mua hàng.', 1, CAST(N'2025-04-06T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Contact] ([ContactID], [UserID], [Name], [Email], [Message], [Status], [CreatedAt], [Reply], [RepliedBy], [RepliedAt], [Title], [Phone]) VALUES (3, NULL, N'David Johnson', N'david@example.com', N'Tôi muốn hợp tác kinh doanh với cửa hàng.', N'New', CAST(N'2025-04-08T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Contact] ([ContactID], [UserID], [Name], [Email], [Message], [Status], [CreatedAt], [Reply], [RepliedBy], [RepliedAt], [Title], [Phone]) VALUES (8, 5, N'Nguyen Van Long', N'alokio@gmail.com', N'meo meo', N'New', CAST(N'2025-09-05T14:29:31.730' AS DateTime), NULL, NULL, NULL, N'Đổi hàng', NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status], [ShippingName], [ShippingAddress], [ShippingPhone], [Note]) VALUES (12, 5, CAST(N'2025-09-03T22:48:35.800' AS DateTime), CAST(390000.00 AS Decimal(18, 2)), N'Hoàn thành', N'alokio', N'Quận 4, Hồ Chí Minh', N'0123456789', N'cod')
INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status], [ShippingName], [ShippingAddress], [ShippingPhone], [Note]) VALUES (13, 5, CAST(N'2025-09-03T22:50:42.033' AS DateTime), CAST(1100000.00 AS Decimal(18, 2)), N'Hoàn thành', N'alokio', N'Quận 4, Hồ Chí Minh', N'0123456789', N'paypal')
INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status], [ShippingName], [ShippingAddress], [ShippingPhone], [Note]) VALUES (14, 5, CAST(N'2025-09-03T22:52:24.047' AS DateTime), CAST(2250000.00 AS Decimal(18, 2)), N'Đang xử lý', N'alokio', N'Quận 4, Hồ Chí Minh', N'0123456789', N'momo')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [AttributeID]) VALUES (16, 12, 8, 2, CAST(180000.00 AS Decimal(18, 2)), 46)
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [AttributeID]) VALUES (17, 13, 4, 2, CAST(550000.00 AS Decimal(18, 2)), 27)
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [AttributeID]) VALUES (18, 14, 3, 5, CAST(450000.00 AS Decimal(18, 2)), 20)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Method], [Status], [PaymentDate], [Amount]) VALUES (11, 12, N'COD', N'Chưa thanh toán', CAST(N'2025-09-03T22:48:35.857' AS DateTime), CAST(390000.00 AS Decimal(18, 2)))
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Method], [Status], [PaymentDate], [Amount]) VALUES (12, 13, N'PayPal', N'Đã thanh toán', CAST(N'2025-09-03T22:50:42.037' AS DateTime), CAST(1100000.00 AS Decimal(18, 2)))
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Method], [Status], [PaymentDate], [Amount]) VALUES (13, 14, N'MoMo', N'Đã thanh toán', CAST(N'2025-09-03T22:52:24.067' AS DateTime), CAST(2250000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [CategoryID], [Name], [Description], [Price], [Stock], [ImageURL], [CreatedAt], [BrandID], [TotalLikes]) VALUES (1, 1, N'Giày chạy bộ Nike Air Zoom', N'Giày chạy bộ cao cấp với công nghệ Air Zoom, nhẹ và êm ái, thích hợp cho chạy đường dài.', CAST(2990000.00 AS Decimal(18, 2)), 100, N'adidasultraboot.png', CAST(N'2025-03-01T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Product] ([ProductID], [CategoryID], [Name], [Description], [Price], [Stock], [ImageURL], [CreatedAt], [BrandID], [TotalLikes]) VALUES (2, 1, N'Giày đá bóng Adidas Predator', N'Giày đá bóng chuyên nghiệp với thiết kế tối ưu cho kiểm soát bóng và lực sút mạnh mẽ.', CAST(2490000.00 AS Decimal(18, 2)), 80, N'adidasultraboot.png', CAST(N'2025-03-02T00:00:00.000' AS DateTime), 2, 0)
INSERT [dbo].[Product] ([ProductID], [CategoryID], [Name], [Description], [Price], [Stock], [ImageURL], [CreatedAt], [BrandID], [TotalLikes]) VALUES (3, 2, N'Áo thun thể thao Puma DryCELL', N'Áo thun thể thao nam có công nghệ DryCELL giúp thoát mồ hôi nhanh chóng khi vận động.', CAST(450000.00 AS Decimal(18, 2)), 150, N'adidasultraboot.png', CAST(N'2025-03-03T00:00:00.000' AS DateTime), 3, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttribute] ON 

INSERT [dbo].[ProductAttribute] ([AttributeID], [ProductID], [Size], [Color], [Stock], [Price], [ImageURL]) VALUES (1, 1, N'39', N'Đen', 20, CAST(2990000.00 AS Decimal(18, 2)), N'nike-air-zoom-black-39.jpg')
INSERT [dbo].[ProductAttribute] ([AttributeID], [ProductID], [Size], [Color], [Stock], [Price], [ImageURL]) VALUES (2, 1, N'40', N'Đen', 25, CAST(2990000.00 AS Decimal(18, 2)), N'nike-air-zoom-black-40.jpg')
INSERT [dbo].[ProductAttribute] ([AttributeID], [ProductID], [Size], [Color], [Stock], [Price], [ImageURL]) VALUES (3, 1, N'41', N'Đen', 20, CAST(2990000.00 AS Decimal(18, 2)), N'nike-air-zoom-black-41.jpg')
SET IDENTITY_INSERT [dbo].[ProductAttribute] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [FullName], [Email], [PasswordHash], [Phone], [Address], [RoleID], [CreatedAt]) VALUES (1, N'admin1', N'Admin User', N'admin@example.com', N'$2a$11$k7R1h/K0YX1yKCCSPI/h3uE0Q7QRwCYUDraJ8GxH9k0XVdDTZOYIu', N'0123456789', N'123 Admin St', 1, CAST(N'2025-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([UserID], [Username], [FullName], [Email], [PasswordHash], [Phone], [Address], [RoleID], [CreatedAt]) VALUES (2, N'customer1', N'John Doe', N'john@example.com', N'$2a$11$k7R1h/K0YX1yKCCSPI/h3uE0Q7QRwCYUDraJ8GxH9k0XVdDTZOYIu', N'0987654321', N'456 Customer St', 2, CAST(N'2025-01-15T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([UserID], [Username], [FullName], [Email], [PasswordHash], [Phone], [Address], [RoleID], [CreatedAt]) VALUES (3, N'customer2', N'Jane Smith', N'jane@example.com', N'$2a$11$k7R1h/K0YX1yKCCSPI/h3uE0Q7QRwCYUDraJ8GxH9k0XVdDTZOYIu', N'0123498765', N'789 User Ave', 2, CAST(N'2025-02-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B61607C4C3A55]    Script Date: 25/09/2025 3:52:08 CH ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E4B4CC6160]    Script Date: 25/09/2025 3:52:08 CH ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534082EDDD2]    Script Date: 25/09/2025 3:52:08 CH ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brand] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [TotalLikes]
GO
ALTER TABLE [dbo].[ProductAttribute] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([AttributeID])
REFERENCES [dbo].[ProductAttribute] ([AttributeID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([RepliedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([AttributeID])
REFERENCES [dbo].[ProductAttribute] ([AttributeID])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[ProductAttribute]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
