USE [master]
GO
/****** Object:  Database [SportShop]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE DATABASE [SportShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SportShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\SportShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SportShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\SportShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SportShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SportShop]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Logo] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AttributeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ImageURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColorOption]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorOption](
	[ColorOptionID] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](50) NOT NULL,
	[HexCode] [nvarchar](7) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_ColorOption] PRIMARY KEY CLUSTERED 
(
	[ColorOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[Reply] [nvarchar](max) NULL,
	[RepliedBy] [int] NULL,
	[RepliedAt] [datetime] NULL,
	[Title] [nvarchar](max) NULL,
	[Phone] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InteractionEvent]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InteractionEvent](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ShippingName] [nvarchar](255) NOT NULL,
	[ShippingAddress] [nvarchar](255) NOT NULL,
	[ShippingPhone] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[VoucherID] [int] NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[AttributeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[BrandID] [int] NULL,
	[TotalLikes] [int] NOT NULL,
	[SubCategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttribute]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttribute](
	[AttributeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Size] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Stock] [int] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[SizeOptionID] [int] NULL,
	[ColorOptionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recommendation]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendation](
	[RecommendationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Score] [decimal](18, 6) NOT NULL,
	[Source] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecommendationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeOption]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeOption](
	[SizeOptionID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[SizeName] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_SizeOption] PRIMARY KEY CLUSTERED 
(
	[SizeOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[CategoryID] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[RoleID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVoucher]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVoucher](
	[UserVoucherID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[VoucherID] [int] NOT NULL,
	[AssignedDate] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserVoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinOrderAmount] [decimal](18, 2) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 10/11/2025 4:23:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandID], [Name], [Description], [Logo], [CreatedAt]) VALUES (12, N'Nike', N'Thương hiệu Mỹ, nổi tiếng với giày bóng đá Mercurial, Phantom, Tiempo.', N'04c0986d-0e7f-434e-9595-19b0a2fc729e_nike-logo.png', CAST(N'2025-10-31T16:46:04.753' AS DateTime))
INSERT [dbo].[Brand] ([BrandID], [Name], [Description], [Logo], [CreatedAt]) VALUES (13, N'Adidas', N'Thương hiệu Đức', N'544e861d-c660-4e5b-83af-2119989ae677_adidas-logo.png', CAST(N'2025-10-31T16:47:51.940' AS DateTime))
INSERT [dbo].[Brand] ([BrandID], [Name], [Description], [Logo], [CreatedAt]) VALUES (14, N'Puma', N'Thương hiệu Puma', N'c1f8b7b1-a89e-431d-971a-a309e6b8e8db_puma-logo.png', CAST(N'2025-10-31T16:48:17.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [UserID], [CreatedAt], [ProductID], [Quantity], [AttributeID]) VALUES (45, 12, CAST(N'2025-11-10T15:45:33.060' AS DateTime), 4, 1, NULL)
INSERT [dbo].[Cart] ([CartID], [UserID], [CreatedAt], [ProductID], [Quantity], [AttributeID]) VALUES (46, 11, CAST(N'2025-11-10T15:53:58.743' AS DateTime), 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [ImageURL]) VALUES (10, N'Bóng đá', N'Sản phẩm dành cho bộ môn thể thao vua', N'7bd673fe-e592-43b8-8aa4-c018dde3a64a_bongda.jpg')
INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [ImageURL]) VALUES (11, N'Bóng rổ', N'Sản phẩm dành cho bóng rổ', N'4592a79f-93bf-44e0-b75a-c908c4469df4_bongro.jpg')
INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [ImageURL]) VALUES (12, N'Chạy bộ', N'Sản phẩm dành cho chạy bộ', N'fd8b0192-d749-4a7a-b58c-70c3a4b04318_chaybo.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[ColorOption] ON 

INSERT [dbo].[ColorOption] ([ColorOptionID], [ColorName], [HexCode], [DisplayOrder], [IsActive], [CreatedAt]) VALUES (1, N'Đen', N'#000000', 1, 1, CAST(N'2025-11-05T15:24:10.060' AS DateTime))
INSERT [dbo].[ColorOption] ([ColorOptionID], [ColorName], [HexCode], [DisplayOrder], [IsActive], [CreatedAt]) VALUES (2, N'Trắng', N'#FFFFFF', 2, 1, CAST(N'2025-11-05T15:24:10.060' AS DateTime))
INSERT [dbo].[ColorOption] ([ColorOptionID], [ColorName], [HexCode], [DisplayOrder], [IsActive], [CreatedAt]) VALUES (3, N'Đỏ', N'#FF0000', 3, 1, CAST(N'2025-11-05T15:24:10.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[ColorOption] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactID], [UserID], [Name], [Email], [Message], [Status], [CreatedAt], [Reply], [RepliedBy], [RepliedAt], [Title], [Phone]) VALUES (1, NULL, N'pele', N'pele@gmail.com', N'kkkkk', N'New', CAST(N'2025-11-07T21:45:04.580' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[InteractionEvent] ON 

INSERT [dbo].[InteractionEvent] ([EventID], [UserID], [ProductID], [EventType], [CreatedAt], [Rating]) VALUES (2, 9, 14, N'REMOVE_FROM_WISHLIST', CAST(N'2025-11-08T18:40:56.217' AS DateTime), NULL)
INSERT [dbo].[InteractionEvent] ([EventID], [UserID], [ProductID], [EventType], [CreatedAt], [Rating]) VALUES (3, 9, 14, N'ADD_TO_WISHLIST', CAST(N'2025-11-08T18:41:02.667' AS DateTime), NULL)
INSERT [dbo].[InteractionEvent] ([EventID], [UserID], [ProductID], [EventType], [CreatedAt], [Rating]) VALUES (4, 9, 14, N'REMOVE_FROM_CART', CAST(N'2025-11-08T18:41:49.230' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[InteractionEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status], [ShippingName], [ShippingAddress], [ShippingPhone], [Note], [VoucherID], [DiscountAmount]) VALUES (1, 9, CAST(N'2025-11-05T16:13:29.097' AS DateTime), CAST(2975000.00 AS Decimal(18, 2)), N'Hoàn thành', N'rock d bexec', N'God Valley', N'0399299299', N'', 18, CAST(525000.00 AS Decimal(18, 2)))
INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status], [ShippingName], [ShippingAddress], [ShippingPhone], [Note], [VoucherID], [DiscountAmount]) VALUES (2, 9, CAST(N'2025-11-08T17:12:02.317' AS DateTime), CAST(480000.00 AS Decimal(18, 2)), N'Hoàn thành', N'rock d bexec', N'God Valley', N'0399299299', N'', NULL, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [TotalAmount], [Status], [ShippingName], [ShippingAddress], [ShippingPhone], [Note], [VoucherID], [DiscountAmount]) VALUES (3, 9, CAST(N'2025-11-08T18:51:04.380' AS DateTime), CAST(1250000.00 AS Decimal(18, 2)), N'Hoàn thành', N'rock d bexec', N'God Valley', N'0399299299', N'', NULL, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [AttributeID]) VALUES (1, 1, 1, 1, CAST(3500000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [AttributeID]) VALUES (2, 2, 18, 1, CAST(480000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [AttributeID]) VALUES (3, 3, 3, 1, CAST(350000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Method], [Status], [PaymentDate], [Amount]) VALUES (1, 1, N'PayPal', N'Đã thanh toán', CAST(N'2025-11-05T16:13:29.183' AS DateTime), CAST(2975000.00 AS Decimal(18, 2)))
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Method], [Status], [PaymentDate], [Amount]) VALUES (2, 2, N'COD', N'Chưa thanh toán', CAST(N'2025-11-08T17:12:02.403' AS DateTime), CAST(480000.00 AS Decimal(18, 2)))
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Method], [Status], [PaymentDate], [Amount]) VALUES (3, 3, N'PayPal', N'Đã thanh toán', CAST(N'2025-11-08T18:51:04.403' AS DateTime), CAST(1250000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [CategoryID], [Name], [Description], [Price], [Stock], [ImageURL], [CreatedAt], [BrandID], [TotalLikes], [SubCategoryID]) VALUES (1, 10, N'Giày Nike Mercurial Vapor 15 Elite FG', N'Giày tốc độ với công nghệ Air Zoom, dành cho sân cỏ tự nhiên', CAST(3500000.00 AS Decimal(18, 2)), 58, N'0103bd40-cb36-4db2-9e78-fd135400cfb1_16fcafc0-a573-46f6-b747-f8dbae9232de_nikemercurialvapor15elite.png', CAST(N'2025-11-05T15:24:10.060' AS DateTime), 12, 3, 1)
INSERT [dbo].[Product] ([ProductID], [CategoryID], [Name], [Description], [Price], [Stock], [ImageURL], [CreatedAt], [BrandID], [TotalLikes], [SubCategoryID]) VALUES (2, 10, N'Giày Adidas Predator Elite', N'Giày kiểm soát bóng với công nghệ HybridTouch 2.0', CAST(3200000.00 AS Decimal(18, 2)), 45, N'e121979d-b796-4ad6-bb9a-d3c88e098640_179d7453-f323-4512-89c6-458822673708_predatorelite.png', CAST(N'2025-11-05T15:24:10.060' AS DateTime), 13, 2, 1)
INSERT [dbo].[Product] ([ProductID], [CategoryID], [Name], [Description], [Price], [Stock], [ImageURL], [CreatedAt], [BrandID], [TotalLikes], [SubCategoryID]) VALUES (3, 10, N'Áo đấu Barcelona 2024/25', N'Áo đấu sân nhà Barcelona mùa giải 2024/25', CAST(350000.00 AS Decimal(18, 2)), 98, N'c17d1028-76e9-4574-939a-a4c602467c3d_f72db05f-dc95-4bea-ac16-1611434cd7cd_aobarca.png', CAST(N'2025-11-05T15:24:10.060' AS DateTime), 12, 11, 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttribute] ON 

INSERT [dbo].[ProductAttribute] ([AttributeID], [ProductID], [Size], [Color], [Stock], [Price], [ImageURL], [SizeOptionID], [ColorOptionID]) VALUES (1, 1, N'40', N'Hồng', 9, CAST(3500000.00 AS Decimal(18, 2)), N'/upload/attributes/ad6c7655-e302-4210-9c6f-26fcbdbeaed6_ZOOM+VAPOR+15+ELITE+FG.png', 3, 8)
INSERT [dbo].[ProductAttribute] ([AttributeID], [ProductID], [Size], [Color], [Stock], [Price], [ImageURL], [SizeOptionID], [ColorOptionID]) VALUES (2, 1, N'41', N'Hồng', 10, CAST(3500000.00 AS Decimal(18, 2)), N'/upload/attributes/5daa5c97-4923-41ed-b206-d7e071119f66_ZOOM+VAPOR+15+ELITE+FG.png', 4, 8)
INSERT [dbo].[ProductAttribute] ([AttributeID], [ProductID], [Size], [Color], [Stock], [Price], [ImageURL], [SizeOptionID], [ColorOptionID]) VALUES (3, 1, N'42', N'Hồng', 10, CAST(3500000.00 AS Decimal(18, 2)), N'/upload/attributes/c0fed94f-cf05-478d-8325-01944cf16f82_ZOOM+VAPOR+15+ELITE+FG.png', 5, 8)
SET IDENTITY_INSERT [dbo].[ProductAttribute] OFF
GO
SET IDENTITY_INSERT [dbo].[Recommendation] ON 

INSERT [dbo].[Recommendation] ([RecommendationID], [UserID], [ProductID], [Score], [Source], [CreatedAt]) VALUES (1, 12, 14, CAST(39.600000 AS Decimal(18, 6)), N'Hybrid', CAST(N'2025-11-10T13:19:40.743' AS DateTime))
INSERT [dbo].[Recommendation] ([RecommendationID], [UserID], [ProductID], [Score], [Source], [CreatedAt]) VALUES (2, 12, 18, CAST(24.208401 AS Decimal(18, 6)), N'Hybrid', CAST(N'2025-11-10T13:19:40.850' AS DateTime))
INSERT [dbo].[Recommendation] ([RecommendationID], [UserID], [ProductID], [Score], [Source], [CreatedAt]) VALUES (3, 12, 11, CAST(21.000000 AS Decimal(18, 6)), N'Hybrid', CAST(N'2025-11-10T13:19:40.850' AS DateTime))
SET IDENTITY_INSERT [dbo].[Recommendation] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [ProductID], [UserID], [Rating], [Comment], [CreatedAt], [Status]) VALUES (1, 1, 9, 5, N'Giày tốt, vừa chân, đá rất êm. Đã ghi 20 bàn trong 1 trận đấu nhờ đôi giày này', CAST(N'2025-11-08T18:49:05.877' AS DateTime), N'Pending')
INSERT [dbo].[Review] ([ReviewID], [ProductID], [UserID], [Rating], [Comment], [CreatedAt], [Status]) VALUES (2, 18, 9, 5, N'Tốt', CAST(N'2025-11-08T19:14:46.283' AS DateTime), N'Pending')
INSERT [dbo].[Review] ([ReviewID], [ProductID], [UserID], [Rating], [Comment], [CreatedAt], [Status]) VALUES (3, 11, 11, 5, N'Áo rất tốt, mặc rất thoải  mái', CAST(N'2025-11-10T13:13:00.213' AS DateTime), N'Pending')
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[SizeOption] ON 

INSERT [dbo].[SizeOption] ([SizeOptionID], [CategoryID], [SizeName], [DisplayOrder], [IsActive], [CreatedAt]) VALUES (1, 1, N'38', 1, 1, CAST(N'2025-11-05T15:52:48.237' AS DateTime))
INSERT [dbo].[SizeOption] ([SizeOptionID], [CategoryID], [SizeName], [DisplayOrder], [IsActive], [CreatedAt]) VALUES (2, 1, N'39', 2, 1, CAST(N'2025-11-05T15:52:48.237' AS DateTime))
INSERT [dbo].[SizeOption] ([SizeOptionID], [CategoryID], [SizeName], [DisplayOrder], [IsActive], [CreatedAt]) VALUES (3, 1, N'40', 3, 1, CAST(N'2025-11-05T15:52:48.237' AS DateTime))
SET IDENTITY_INSERT [dbo].[SizeOption] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategory] ON 

INSERT [dbo].[SubCategory] ([SubCategoryID], [Name], [Description], [ImageURL], [CategoryID], [DisplayOrder], [IsActive]) VALUES (1, N'Giày bóng đá', N'Giày đá banh sân cỏ tự nhiên và nhân tạo', NULL, 10, 1, 1)
INSERT [dbo].[SubCategory] ([SubCategoryID], [Name], [Description], [ImageURL], [CategoryID], [DisplayOrder], [IsActive]) VALUES (2, N'Áo đấu', N'Áo thi đấu các câu lạc bộ, đội tuyển', NULL, 10, 2, 1)
INSERT [dbo].[SubCategory] ([SubCategoryID], [Name], [Description], [ImageURL], [CategoryID], [DisplayOrder], [IsActive]) VALUES (3, N'Bóng đá', N'Quả bóng đá thi đấu và luyện tập', NULL, 10, 3, 1)
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [FullName], [Email], [PasswordHash], [Phone], [Address], [RoleID], [CreatedAt]) VALUES (1, N'admin1', N'Admin User', N'admin@example.com', N'$2a$11$k7R1h/K0YX1yKCCSPI/h3uE0Q7QRwCYUDraJ8GxH9k0XVdDTZOYIu', N'0123456789', N'123 Admin St', 1, CAST(N'2025-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([UserID], [Username], [FullName], [Email], [PasswordHash], [Phone], [Address], [RoleID], [CreatedAt]) VALUES (2, N'customer1', N'John Doe', N'john@example.com', N'$2a$11$k7R1h/K0YX1yKCCSPI/h3uE0Q7QRwCYUDraJ8GxH9k0XVdDTZOYIu', N'0987654321', N'456 Customer St', 2, CAST(N'2025-01-15T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([UserID], [Username], [FullName], [Email], [PasswordHash], [Phone], [Address], [RoleID], [CreatedAt]) VALUES (3, N'customer2', N'Jane Smith', N'jane@example.com', N'$2a$11$k7R1h/K0YX1yKCCSPI/h3uE0Q7QRwCYUDraJ8GxH9k0XVdDTZOYIu', N'0123498765', N'789 User Ave', 2, CAST(N'2025-02-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserVoucher] ON 

INSERT [dbo].[UserVoucher] ([UserVoucherID], [UserID], [VoucherID], [AssignedDate], [IsUsed], [UsedDate]) VALUES (7, 9, 18, CAST(N'2025-10-31T18:58:14.720' AS DateTime), 1, CAST(N'2025-11-05T16:13:29.290' AS DateTime))
INSERT [dbo].[UserVoucher] ([UserVoucherID], [UserID], [VoucherID], [AssignedDate], [IsUsed], [UsedDate]) VALUES (8, 9, 19, CAST(N'2025-10-31T18:58:14.813' AS DateTime), 1, CAST(N'2025-10-31T18:59:30.787' AS DateTime))
INSERT [dbo].[UserVoucher] ([UserVoucherID], [UserID], [VoucherID], [AssignedDate], [IsUsed], [UsedDate]) VALUES (9, 9, 20, CAST(N'2025-10-31T18:59:41.987' AS DateTime), 1, CAST(N'2025-10-31T20:56:37.213' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserVoucher] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MinOrderAmount], [StartDate], [EndDate], [IsActive]) VALUES (16, N'WELCOME2025', N'Percentage', CAST(10.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MinOrderAmount], [StartDate], [EndDate], [IsActive]) VALUES (17, N'WELCOME10', N'Percentage', CAST(10.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-10-30T00:00:00.000' AS DateTime), CAST(N'2035-10-30T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MinOrderAmount], [StartDate], [EndDate], [IsActive]) VALUES (18, N'FIRSTORDER', N'Percentage', CAST(15.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(N'2025-10-30T00:00:00.000' AS DateTime), CAST(N'2035-10-30T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [CreatedAt]) VALUES (103, 12, 4, CAST(N'2025-11-10T13:15:47.350' AS DateTime))
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [CreatedAt]) VALUES (104, 12, 5, CAST(N'2025-11-10T13:15:50.867' AS DateTime))
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [CreatedAt]) VALUES (105, 12, 1, CAST(N'2025-11-10T13:16:03.920' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
GO
/****** Object:  Index [IX_ColorOption_Active]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_ColorOption_Active] ON [dbo].[ColorOption]
(
	[IsActive] ASC
)
INCLUDE([ColorName],[HexCode],[DisplayOrder]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InteractionEvent_CreatedAt]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_InteractionEvent_CreatedAt] ON [dbo].[InteractionEvent]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InteractionEvent_EventType]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_InteractionEvent_EventType] ON [dbo].[InteractionEvent]
(
	[EventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InteractionEvent_ProductID]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_InteractionEvent_ProductID] ON [dbo].[InteractionEvent]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InteractionEvent_Rating]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_InteractionEvent_Rating] ON [dbo].[InteractionEvent]
(
	[Rating] ASC
)
WHERE ([Rating] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InteractionEvent_UserID]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_InteractionEvent_UserID] ON [dbo].[InteractionEvent]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAttribute_ColorOptionID]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductAttribute_ColorOptionID] ON [dbo].[ProductAttribute]
(
	[ColorOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAttribute_SizeOptionID]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductAttribute_SizeOptionID] ON [dbo].[ProductAttribute]
(
	[SizeOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recommendation_UserID]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_Recommendation_UserID] ON [dbo].[Recommendation]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B61607C4C3A55]    Script Date: 10/11/2025 4:23:36 CH ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SizeOption_Category]    Script Date: 10/11/2025 4:23:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_SizeOption_Category] ON [dbo].[SizeOption]
(
	[CategoryID] ASC
)
INCLUDE([SizeName],[DisplayOrder],[IsActive]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E4B4CC6160]    Script Date: 10/11/2025 4:23:36 CH ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534082EDDD2]    Script Date: 10/11/2025 4:23:36 CH ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserVoucher_UserID_VoucherID]    Script Date: 10/11/2025 4:23:36 CH ******/
ALTER TABLE [dbo].[UserVoucher] ADD  CONSTRAINT [UQ_UserVoucher_UserID_VoucherID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__A25C5AA73C8284F3]    Script Date: 10/11/2025 4:23:36 CH ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brand] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ColorOption] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ColorOption] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ColorOption] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InteractionEvent] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [TotalLikes]
GO
ALTER TABLE [dbo].[ProductAttribute] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Recommendation] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[SizeOption] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[SizeOption] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SizeOption] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubCategory] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[SubCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([AttributeID])
REFERENCES [dbo].[ProductAttribute] ([AttributeID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([RepliedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[InteractionEvent]  WITH CHECK ADD  CONSTRAINT [FK_InteractionEvent_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[InteractionEvent] CHECK CONSTRAINT [FK_InteractionEvent_Product]
GO
ALTER TABLE [dbo].[InteractionEvent]  WITH CHECK ADD  CONSTRAINT [FK_InteractionEvent_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[InteractionEvent] CHECK CONSTRAINT [FK_InteractionEvent_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Voucher] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Voucher]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([AttributeID])
REFERENCES [dbo].[ProductAttribute] ([AttributeID])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_SubCategory] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategory] ([SubCategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_SubCategory]
GO
ALTER TABLE [dbo].[ProductAttribute]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductAttribute]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttribute_ColorOption] FOREIGN KEY([ColorOptionID])
REFERENCES [dbo].[ColorOption] ([ColorOptionID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProductAttribute] CHECK CONSTRAINT [FK_ProductAttribute_ColorOption]
GO
ALTER TABLE [dbo].[ProductAttribute]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttribute_SizeOption] FOREIGN KEY([SizeOptionID])
REFERENCES [dbo].[SizeOption] ([SizeOptionID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProductAttribute] CHECK CONSTRAINT [FK_ProductAttribute_SizeOption]
GO
ALTER TABLE [dbo].[Recommendation]  WITH CHECK ADD  CONSTRAINT [FK_Recommendation_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Recommendation] CHECK CONSTRAINT [FK_Recommendation_Product]
GO
ALTER TABLE [dbo].[Recommendation]  WITH CHECK ADD  CONSTRAINT [FK_Recommendation_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Recommendation] CHECK CONSTRAINT [FK_Recommendation_User]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[SizeOption]  WITH CHECK ADD  CONSTRAINT [FK_SizeOption_SubCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[SubCategory] ([SubCategoryID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SizeOption] CHECK CONSTRAINT [FK_SizeOption_SubCategory]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_Category]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserVoucher]  WITH CHECK ADD  CONSTRAINT [FK_UserVoucher_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserVoucher] CHECK CONSTRAINT [FK_UserVoucher_User]
GO
ALTER TABLE [dbo].[UserVoucher]  WITH CHECK ADD  CONSTRAINT [FK_UserVoucher_Voucher] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserVoucher] CHECK CONSTRAINT [FK_UserVoucher_Voucher]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InteractionEvent]  WITH CHECK ADD  CONSTRAINT [CK_InteractionEvent_Rating] CHECK  (([Rating] IS NULL OR [Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[InteractionEvent] CHECK CONSTRAINT [CK_InteractionEvent_Rating]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
